/* Hide everything in chat */
yt-live-chat-text-message-renderer {
    display: none!important;
}
/* Unhide member chat */
yt-live-chat-text-message-renderer[author-type="member"] {
    display: inherit!important;
}
/* Hide new member messages */
yt-live-chat-membership-item-renderer[show-only-header] {
    display: none!important;
}
